# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.env

# Python package builds
build/
dist/
*.egg-info/

# Project specific
data/
inputs/
output/
Paper/
results/
weights/
site/


# OS specific
.DS_Store
Thumbs.db
